body {
  position: relative;
  max-width: 1200px;
  min-height: 900px;
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  background-color: #3d87e0;
}
.menu {
  padding: 20px;
  margin: 30px auto;
  width: 600px;
}

.menu ul {
  margin: auto;
  width: 100%;
}

.menu ul li {
  padding: 0;
  border: 1px solid white;
  display: inline-block;
}

.menu ul li a{
  font-weight: bold;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 195px;
  background: #3e6ac4;
}

.order {
  position: absolute;
  top: 100px;
  right: 10px;
  background: #9bd8f1;
  width: 200px;
  min-height: 100px;
  border: 1px solid white;
  opacity: 0.9;
}

div > .order {
  position: fixed;
  transform: translate(0, 0);
}

.wrapper {
  background: #459eff;
  width: 80%;
  min-height: 600px;
  margin: auto;
  border: 1px solid white;
}

.card {
  width: 300px;
  height: 230px;
  border: 1px solid white;
  float: left;
  margin: 10px auto auto 10px;
}

.foto {
  width: 150px;
  height: 180px;
  border: 1px solid grey;
  margin: 5px;
  float: left;
  background-color: #cccccc;
  display: table;
}
.foto p {
  display:table-cell;
  vertical-align:middle;
  text-align: center;
}

#root li{
  list-style-type: none;
}

.footer {
  padding: 20px;
  margin-top: 50px;
  width: 100%;
  min-height: 150px;
  background-color: #272d6e;
}

.footer ul {
  margin: auto;
}

.footer ul li {
  display: inline-block;
}

.footer ul li a{
  font-weight: bold;
  color: white;
  padding: 5px 0 0 0;
  text-decoration: none;
  display: block;
  width: 200px;
  background: #272d6e;
  text-align: left;
}

.orderBlock{
  width: 96%;
  min-height: 130px;
  border: 1px solid grey;
  margin: 10px auto;
}

.orderBlockInner{
  display: inline-block;
  min-width: 10%;
  min-height: 100px;
  margin: 10px 5px;
  padding: 5px;
  float: left;
}

.orderButtonBlock {
  margin: 10px auto;
  width: 33%;
}

.orderButtonBlock button{
  margin: 0px 20px;
  padding: 5px 30px;
}

.customBlock {
  width: 96%;
  margin: 10px auto;
}

.customBlockName {
  display: inline-block;
  width: 40%;
}

.customBlockPrice {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.customBlockEdit {
  display: inline-block;
  width: 10%;
}

.customBlockAdd {
  display: inline-block;
  width: auto;
}
